<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-sdk tools:overrideLibrary="android.support.wear" />

    <uses-feature android:name="android.hardware.type.watch" />

    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.BODY_SENSORS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.DeviceDefault">
        <uses-library
            android:name="com.google.android.wearable"
            android:required="true" />
        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleInstance"
            android:taskAffinity="">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".TrackerService"
            android:enabled="true"></service>

        <activity
            android:name=".SettingsActivity"
            android:exported="true"
            android:label="@string/title_activity_settings"
            android:taskAffinity="" />
        <activity
            android:name=".NumberInputActivity"
            android:exported="true"
            android:label="Number Input"
            android:taskAffinity="" />
        <activity
            android:name=".AlarmActivity"
            android:exported="true"
            android:label="@string/title_activity_alarm"
            android:taskAffinity="" />
        <activity
            android:name=".TextInputActivity"
            android:exported="true"
            android:label="@string/title_activity_text_input"
            android:taskAffinity="" />
        <activity
            android:name=".TimeInputActivity"
            android:exported="true"
            android:label="@string/title_activity_time_input"
            android:taskAffinity="" />
        <activity
            android:name=".SleepSummaryListActivity"
            android:exported="true"
            android:label="@string/title_activity_sleep_summary"
            android:taskAffinity="" />
        <activity
            android:name=".SleepSummaryActivity"
            android:exported="true"
            android:label="@string/title_activity_sleep_summary"
            android:taskAffinity="" />
        <activity
            android:name=".PrivacyPolicyActivity"
            android:exported="true"
            android:label="@string/title_activity_privacy_policy"
            android:taskAffinity="">
            <intent-filter>
                <action android:name="privacypolicy" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ChangelogActivity"
            android:exported="true"
            android:label="@string/title_activity_privacy_policy"
            android:taskAffinity="">
            <intent-filter>
                <action android:name="changelog" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>